/*@import url('https://fonts.googleapis.com/css?family=Open+Sans');*/
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;200;300;400;500;600;700;800;900&display=swap');

html, body {
    background-color: #f8f8f8;
    font-family: 'Roboto', sans-serif !important;
}

#header {
	position: fixed;
    left: 0;
    right: 0px;
    
    /*background-color: #311B1B;*/
    /*border-color: #311B1B;*/
    
    background: #3f4c6b; /* Old browsers */
    background: -moz-linear-gradient(top,  #3f4c6b 0%, #3f4c6b 100%); /* FF3.6-15 */
    background: -webkit-linear-gradient(top,  #3f4c6b 0%,#3f4c6b 100%); /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(to bottom,  #3f4c6b 0%,#3f4c6b 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#3f4c6b', endColorstr='#3f4c6b',GradientType=0 ); /* IE6-9 */


}
#wrapper {
    width: 100%;
}

#page-wrapper {
    padding: 0;padding-top:51px;
    min-height: 568px;
    height: 100%;
    background-color: #fff;
}


/*Nav Bar Top*/
.navbar-header {
    border-right: 1px dashed #AAA;
    padding-right: 20px;
}
.navbar-brand {
    color:white !important;
    font-weight: bold;
    /*font-family: monospace;*/

    background: transparent url(../media/logos/logo.png) no-repeat 6px;
    background-size: 24px;
    padding-left: 34px;
}
.navbar-top-links {
    margin-right: 0;
}

.navbar-top-links li {
    display: inline-block;
}
.navbar-top-links.toolbar li {
    float: left;
}
.navbar-top-links li:last-child {
    margin-right: 15px;
}

.navbar-top-links li a {
    padding: 15px;
    min-height: 50px;
}

.navbar-top-links .dropdown-menu li {
    display: block;
}

.navbar-top-links .dropdown-menu li:last-child {
    margin-right: 0;
}

.navbar-top-links .dropdown-menu li a {
    padding: 3px 20px;
    min-height: 0;
}

.navbar-top-links .dropdown-menu li a div {
    white-space: normal;
}

.navbar-top-links .dropdown-messages,
.navbar-top-links .dropdown-tasks,
.navbar-top-links .dropdown-alerts {
    width: 310px;
    min-width: 0;
}

.navbar-top-links .dropdown-messages {
    margin-left: 5px;
}

.navbar-top-links .dropdown-tasks {
    margin-left: -59px;
}

.navbar-top-links .dropdown-alerts {
    margin-left: -123px;
}

.navbar-top-links .dropdown-user {
    right: 0;
    left: auto;
}
.navbar-top-links .fa {
    font-size: 18px;
    color: white;
    color: whitesmoke;
}
.navbar-top-links .dropdown.open .fa {
    color: black;
}
.navbar-top-links li>a:focus .fa, .navbar-top-links li>a:hover .fa {
    color: black;
}
/*Main Container*/
.containerMain
{
    height:100%;
}
.containerMain
{
    display:table;
    width: 100%;
    padding: 0px;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}
.containerMain .row
{
    height: 100%;
    display: table-row;
}
.containerMain .row .nav.nav-tabs {
    margin-top: -43px;
}
.containerMain .col-md-6.no-float {
    float: none;
    padding: 0px;
    padding-top: 43px;
}
.containerMain .left-pane
{
    display: table-cell;
    border-right: 1px solid #AAA;
    width: 50%;
}
.containerMain .right-pane
{
    display: table-cell;
    border-left: 1px solid #AAA;
    width: 50%;
}

.containerMain .tab-content {
    height: 100%;
}
.containerMain .tab-content iframe {
    background:#FFF;
    outline: none;
}

.containerMain .tab-content .tab-pane {
    width: 100%;height: 100%;
    border: 0px;
    outline: none;
    overflow: auto;
}
.containerMain .tab-content .tab-pane .editor {
    height: 100%;
}

/*AceEditor Settings*/

.ace_search_field {
    color: #888 !important;
}


#ace_settingsmenu {
  width: 400px;
}
#ace_settingsmenu .ace_optionsMenuEntry {
  padding-top: 2px;
  padding-bottom: 2px;
}
#ace_settingsmenu .ace_optionsMenuEntry label {

}
#ace_settingsmenu .ace_optionsMenuEntry input[type=text] {
  width: 175px;
  background: white;
  padding: 2px;
}
#ace_settingsmenu .ace_optionsMenuEntry select {
  width: 175px;
  background: white;
  padding: 2px;
}

.pull-right {
    float: right !important;
}

.pull-left {
    float: left !important;
}
.nav-tabs>li>a.icon i {
    margin-top: 4px;
}

.noselect {
  -webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none; /* Safari */
     -khtml-user-select: none; /* Konqueror HTML */
       -moz-user-select: none; /* Old versions of Firefox */
        -ms-user-select: none; /* Internet Explorer/Edge */
            user-select: none; /* Non-prefixed version, currently
                                  supported by Chrome, Edge, Opera and Firefox */
}